<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container" data-controller="placesjs">
  <%= form_tag pokemons_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a pokemon"
    %>

    <%= text_field_tag :location, nil, data: { "placesjs-target": "location" } %>
    <%= select_tag :kind, options_from_collection_for_select(Kind.all, "name", "name"), include_blank: "All" %>

    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div data-controller="sweetalert" data-title="Error!" data-text="Do you want to continue">
  <button data-action="click->sweetalert#trigger">
    culo
  </button>
  <%= link_to "destroy", dashboard_path, class: "d-none" %>
</div>


<div data-controller="sweetalert"
  data-title="Banana!"
  data-text="Do you want to continue"
  data-icon="success">
  <button data-action="click->sweetalert#trigger">
    culo
  </button>
  <%= link_to "destroy", dashboard_path, class: "d-none" %>
</div>


<div data-controller="sweetalert"
  data-title="Apple!"
  data-text="Do you want to continue"
  data-icon="error"
  data-cancel=true>
  <button data-action="click->sweetalert#trigger" >
    culo
  </button>
  <%= link_to "destroy", dashboard_path, class: "d-none" %>
</div>