<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container" data-controller="placesjs">
  <%= form_tag pokemons_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a pokemon"
    %>

    <%= text_field_tag :location, nil, data: { "placesjs-target": "location" } %>
    <%= select_tag :kind, options_from_collection_for_select(Kind.all, "name", "name"), include_blank: "All" %>

    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <%= button_tag "get location", type: :button, data: { "action": "click->placesjs#getCurrentLocation" } %>

 <div data-controller="slick" class="responsive">
  <% Pokemon.first(15).each do |pokemon| %>
    <div class="card mx-auto">
      <% if pokemon.photo.attached? %>
        <%= cl_image_tag pokemon.photo.key, alt: pokemon.name, height: 400 %>
      <% else %>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" class="card-img-top" alt="<%= pokemon.name %>">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= pokemon.name.capitalize %></h5>
        <p class="card-text"><%= pokemon.description %></p>
        <%= link_to "See more", pokemon_path(pokemon), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
</div>


